/*
	Design: javfox
	markup: Nukeador
*/

@import  url('undohtml.css');

@font-face {
	font-family: MuseoSans;
	src: url('../fonts/MuseoSans_500.otf');
}

body {
	background-color: #E2E2E2;
	background-image: url(../img/canvas-bg.png);
	color: Black;
	font-family: 'Lucida Grande',Geneva,Arial,Trebuchet,Verdana,Helvetica,sans-serif;
	font-size: 62.5%;
	text-align: inherit;
}

/* Links */
a[hreflang]:after {
	content: ' ('attr(hreflang)')';
	font-size: 80%;
}

a[hreflang=es]:after {content: '';} /* Desactivar los que son en espa�ol con sintaxis de css2 */
.clearfix:after {content: "."; display:block; height:0; clear:both; visibility:hidden;}
.clearfix {display:block;} /*opera & safari */
/*ie6 and no IE mac*/
/* Hides from IE-mac \*/ * html .clearfix {height: 1%;} /* End hide from IE-mac */

a:link {
	color:#264373;
}
a:visited {
	color:#264373;
}
a:hover {
	color:#5278B6;
}
a:active {
	color:#5278B6;
}

#header {
    background-image: url("../img/header.png");
    height: 125px;
    position: relative;
}

#header h1 a {
    color: #D86214;
    display: block;
    font-family: MuseoSans;
    font-size: 29px;
    height: 90px;
    margin: 22px 0 0 418px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    text-shadow: 1px 1px #CCCCCC;
    vertical-align: middle;
    width: 251px;
}

#header h1 a span {
}

#header #visit-box {
  background: url("../img/visit-box.png") no-repeat scroll 0 0 transparent;
  display: block;
  height: 49px;
  position: absolute;
  right: 0;
  top: 0;
  width: 118px;
}

#header #visit-box a {
    color: #FFFFFF;
    display: block;
    font-size: 12px;
    font-weight: bold;
    line-height: 34px;
    text-align: center;
    font-family: MuseoSans;
    text-shadow: 1px 1px #555555;
    height: 30px;
    width: 118px;
}

#header form#langSelector {
	float: right;
	margin-top: 88px;
        margin-right: 4px;
}

#header form#langSelector input[type="submit"] {
	display: none;
}

#canvas {
	max-width: 1024px;
	min-width: 690px;
	margin: 0px auto;
}

#cripple {
    -moz-box-shadow: #777 0 0 2em;
    -webkit-box-shadow: #777 0 0 2em;
    box-shadow: #777 0 0 2em;
    min-width: 950px;
}

#content {
	border-right: 1px solid #dfe6ec;
	width: 76%;
	margin-right: -3px;
	padding-bottom:3em;
	float: left;
	min-width: 720px;
}

#mainbody {
    background: url("../img/footer-bg.png") no-repeat scroll center bottom #FFFFFF;
    padding-bottom: 175px;
}

#sidebar {
	width: 24%;
	margin-top: 0px;
	border-left: 1px solid #dfe6ec;
	float: right;
	background-image: url(../img/sidebar-shadow.png);
	background-position: top;
	background-repeat: repeat-x;
	background-color: #e8f3ff;
}

#regButton {
    background: repeat scroll 0 0 #98D98A;
    background-image: linear-gradient(#98D98A, #6BBA6A);
    background: -moz-linear-gradient(center top , #98D98A, #6BBA6A) repeat scroll 0 0 #98D98A;
    background-image: -webkit-linear-gradient(#98D98A, #6BBA6A);
    background-image: -o-linear-gradient(#98D98A, #6BBA6A);
    background-color: #98D98A;
    border-color: #7EBA7C #578E57 #447D43;
    border-radius: 5px 5px 5px 5px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 #9CABAE, 0 1px 0 #B7E4AC inset;
    float: right;
    font-size: 2em;
    height: 68px;
    margin: 53px 0 0 463px;
    overflow: visible;
    padding-bottom: 0;
    position: absolute;
    width: 228px;
}

#regButton span {
    color: #FFFFFF;
    font-size: 0.5em;
    margin-left: 109px;
    position: absolute;
}

#regButton a {
    background: url("../img/panda.png") no-repeat scroll -7px 0 transparent;
    color: #23441E;
    display: block;
    font-size: 0.8em;
    height: 47px;
    margin: -21px 0 0;
    padding: 45px 0 0 59px;
    text-align: center;
    text-shadow: 0 1px 0 #AEDBAA;
    width: 178px;
}

#regButton:hover {
    background: -moz-linear-gradient(center top , #B7E3B0, #9ACE9B) repeat scroll 0 0 transparent;
    box-shadow: 0 1px 0 #A7C3C9, 0 1px 0 #CCEBC7 inset;
}
#regButton a:hover {
    color: #485A0C;
    text-shadow: 0 1px 0 #C2E3C1;
}

#formInfo {
    text-align: right;
}

#formInfo span {
    color: red;
}

#reg-form {
    background: url("../img/reg-bg.png") no-repeat scroll 329px 25px transparent;
}

#social {
    float: right;
    width: 270px;
}

#flickrLink {
     text-align: center;
}

#flickr_badge_uber_wrapper {
    margin: auto;
}

#event-list li {
    background: none repeat scroll 0 0 transparent;
    font-size: 2em;
    margin: 1em 0;
    padding: 0;
    text-align: center;
}

#bugtext {
    color: #FFFFFF;
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
    margin: 81px 0 0 349px;
    position: absolute;
}

.maincontent, .portada-extra{
	margin: 2em 1em 0em;
	padding: 1em;
}
.maincontent h2{
	font-size: 1.75em;
	margin-bottom:0.5em;
	border-bottom:1px dotted;
}
.maincontent .maintext{
	padding: 0 0 2em 0em;
	font-size:1.3em;

}

/* Elements  inside maincontent */
.maincontent .maintext p{
	padding-bottom:1em;
	line-height: 1.3em;
}
.maincontent .maintext ul {
	list-style-type:none;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left:0em;
	padding-left:2em;
	list-style-type:none;
}
.maincontent .maintext ul li {
	background:transparent url(../img/bullet.gif) no-repeat scroll 0pt 3px;
	padding-left:1.5em;
	margin-bottom:0.3em;
}
.maincontent .maintext ol {
	list-style-type:none;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left:0em;
	padding-left:3.6em;
}
.maincontent .maintext ol li {
	margin-bottom:0.3em;
	list-style-type: decimal;
}

.maincontent .maintext h3 {
	font-size:1.1em;
	margin-bottom:1em;
}

.maincontent h2 {
	border: none !important;
}

/* Event box */

.event-detail {
	-moz-border-radius:5px 5px 5px 5px;
	-moz-box-shadow:0.1em 0.1em 0.6em grey;
	border-radius:5px 5px 5px 5px;
	box-shadow:0.1em 0.1em 0.6em grey;
	-webkit-border-radius:5px 5px 5px 5px;
	-webkit-box-shadow:0.1em 0.1em 0.6em grey;
	border:1px solid #E3E3E3;
	padding:0;
         margin-bottom: 3em;
        width: 400px;
}

.event-detail p {
	border-bottom:1px solid #E3E3E3;
	padding:0.4em 1em 0.4em 29px !important;
	line-height: 20px !important;
}

.event-detail p.event-date {
	background: url("../img/event-date.png") no-repeat scroll 6px 7px transparent !important;
}

.event-detail p.event-addr {
	background: url("../img/event-addr.png") no-repeat scroll 6px 7px transparent !important;
}

.event-detail p.event-comment {
	background: url("../img/event-comment.png") no-repeat scroll 6px 7px transparent !important;
}

.back-link {
    font-size: 0.85em;
    margin-top: 2em;
}

label {
    display: block;
    margin-bottom: 1em;
}

label[for=id_press], label[for=id_privacyPolicy], label[for=id_volunteer] {
    display: inline;
}

input[type=checkbox] {
    margin-right: 7px;
}

label.required {
	font-weight: bold;
}

label.required:after {
	content: " *";
	color: red;
}

.fieldInfo {
    font-size: 0.9em;
    clear: both;
    color: #777777;
}

.fieldWrapper {
    clear: both;
    margin-bottom: 1em;
}

.fieldWrapper input {
    float: none;
}

#id_firstName,
#id_familyName,
#id_email,
#id_emailConfirm,
#id_twitter,
#id_website {
	width: 15em;
}

ul.errorlist {
    background-color: #D75B5B;
    padding: 5px !important;
    text-align: center;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    font-weight: bold;
    float: none;
    margin: 0 !important;
    width: 16em;
}

ul.errorlist li {
    background: none !important;
    padding: 0 !important;
}