/*
    Design: javfox
    markup: Nukeador
*/

@font-face {
    font-family: MuseoSans;
    src: url('../fonts/MuseoSans_500.otf');
}

/* ==========================================================================
   Clearfix
   ========================================================================== */

/*
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before, .clearfix:before,
.cf:after, .clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after, .clearfix:after {
    clear: both;
}

/**
* For IE 6/7 only
* Include this rule to trigger hasLayout and contain floats.
*/
.cf, .clearfix {
    *zoom: 1;
}

/* Links */
a[hreflang]:after {
    content: ' ('attr(hreflang)')';
    font-size: 80%;
}

a[hreflang=es]:after {content: '';} /* Desactivar los que son en espa�ol con sintaxis de css2 */

a:link {
    color: #264373;
}
a:visited {
    color: #264373;
}
a:hover {
    color: #5278B6;
}
a:active {
    color: #5278B6;
}

/* Sandstone tweaks start here */
#masthead {
    height: 100px;
    position: relative;
}

#masthead nav li a,
#masthead nav li span {
    color: #484848;
    font-size: 12px;
    padding: 10px 9px;
}

#masthead nav li:hover > a,
#masthead nav li:hover > span {
    background: #fff;
    text-decoration: none
}

#masthead nav li.dropdown {
    display: relative;
}

#masthead nav li.dropdown ul {
    display: none;
}

#masthead nav li.dropdown:hover ul {
    background: #f0f0f0;
    display: block;
    position: absolute;
    top: 36px;
    width: 190px;
    z-index: 100;
}

#masthead nav li.dropdown ul li {
    display: block;
}

#masthead nav li.dropdown ul a {
    display: block;
    padding: 5px 10px;
}

#logo {
    left: 0;
    position: absolute;
    top: 10px;
}

nav#social {
    margin-top: 55px;
    width: 228px;
    position: absolute;
    right: 0px;
}

nav#social li {
    float: left;
    width: 28px;
    height: 29px;
    margin: 0 0 12px 10px;
    opacity: 0.8;
}

nav#social li:hover {
        opacity: 1;
}

nav#social a {
        text-indent: -10000em;
        display: block;
        width: 28px;
        height: 29px;
}

nav#social a#twitter-icon {
        background: url("../img/twitter-icon28.png") no-repeat;
        /*margin: -34px 200px 0 0;*/
}

nav#social a#facebook-icon {
        background: url("../img/facebook-icon28.png") no-repeat;
}

nav#social a#gplus-icon {
        background: url("../img/gplus-icon28.png") no-repeat;
}

nav#social a#youtube-icon {
        background: url("../img/youtube-icon28.png") no-repeat;
}

nav#social a#flickr-icon {
        background: url("../img/flickr-icon28.png") no-repeat;
}

nav#social a#rss-icon {
        background: url("../img/rss-icon28.png") no-repeat;
}

nav#social a#twitter-icon:hover,
nav#social a#rss-icon:hover, 
nav#social a#flickr-icon:hover,
nav#social a#gplus-icon:hover,
nav#social a#facebook-icon:hover,
nav#social a#youtube-icon:hover {
        opacity: 1;
}

#main-content {
    width: 72%;
    padding-bottom:3em;
    padding-right: 1%;
    float: left;
}

#main-content.mainpage {
    width: 100%;
}

#main-content.mainpage #mainpage-desc{
    padding: 0px 6em;
    text-align: justify;
    font-size: 0.9em;
}

#colophon {
    background: #222222;
}

#colophon .footer-logo {
    text-align: center;
    width: 200px;
}

#colophon .cc {
    padding: 10px;
    text-align: center;
}

#colophon .footer-nav {
    width: 160px;
}

#colophon .footer-nav strong {
    color: #777;
    line-height: 40px;
    text-transform: uppercase;
}

#colophon a,
#colophon a:link,
#colophon a:visited {
    color: #aaa;
}
/* Sandstone tweaks end here */

table {
    border-collapse: collapse;
    border-spacing: 0;
    background-color: #F6F6F1;
    color: #333333;
    width: 100%;
    margin: 1em 0;
}

table th {
    background-color: rgba(198, 198, 175, 0.5);
    padding: 0.5em 3px;
    text-align: left;
}

table th a {
    color: #000000 !important;
}

table td {
    padding: 0.5em 3px;
    text-align: left;
    vertical-align: top;
    font-size: 0.91em;
}

table tr:nth-child(2n) {
    background: none repeat scroll 0 0 rgba(198, 198, 175, 0.2);
}

table tr:hover {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
}

#sidebar {
    width: 24%;
    margin-top: 0px;
    float: right;
}

#sidebar #event-map {
    width: 235px;
    margin: auto;
}

#sidebar #event-map iframe {
    border: 1px solid rgb(204, 204, 204);
    border-radius: 6px;
}

#regButton {
    background: repeat scroll 0 0 #98D98A;
    background-image: linear-gradient(#98D98A, #6BBA6A);
    background: -moz-linear-gradient(center top , #98D98A, #6BBA6A) repeat scroll 0 0 #98D98A;
    background-image: -webkit-linear-gradient(#98D98A, #6BBA6A);
    background-image: -o-linear-gradient(#98D98A, #6BBA6A);
    background-color: #98D98A;
    border-color: #7EBA7C #578E57 #447D43;
    border-radius: 5px 5px 5px 5px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 #9CABAE, 0 1px 0 #B7E4AC inset;
    float: right;
    font-size: 2em;
    height: 68px;
    margin: 3em 0 0 463px;
    overflow: visible;
    padding-bottom: 0;
    position: absolute;
    width: 245px;
}

#regButton span {
    color: #FFFFFF;
    font-size: 0.5em;
    margin-left: 109px;
    position: absolute;
}

#regButton a {
    background: url("../img/panda.png") no-repeat scroll -7px 0 transparent;
    color: #23441E;
    display: block;
    font-size: 0.7em;
    height: 47px;
    margin: -21px 0 0;
    padding: 45px 0 0 59px;
    text-align: center;
    text-shadow: 0 1px 0 #AEDBAA;
    width: 178px;
}

#regButton:hover {
    background: -moz-linear-gradient(center top , #B7E3B0, #9ACE9B) repeat scroll 0 0 transparent;
    box-shadow: 0 1px 0 #A7C3C9, 0 1px 0 #CCEBC7 inset;
}
#regButton a:hover {
    color: #485A0C;
    text-shadow: 0 1px 0 #C2E3C1;
}

#formInfo span {
    color: red;
}

#reg-form {
    background: url("../img/reg-bg.png") no-repeat scroll 329px 25px transparent;
}

#social {
    float: right;
}

#flickrLink {
     text-align: center;
}

#flickr_badge_uber_wrapper {
    margin: auto;
}

#event-list li {
    background: none repeat scroll 0 0 transparent;
    font-size: 2em;
    margin: 1em 0;
    padding: 0;
    text-align: center;
}

#bugtext {
    color: #FFFFFF;
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
    margin: 81px 0 0 349px;
    position: absolute;
}

.maincontent, .portada-extra{
    margin: 2em 1em 0em;
    padding: 1em;
}

.maincontent h2{
    font-size: 1.75em;
    margin-bottom:0.5em;
    border-bottom:1px dotted;
}
.maincontent .maintext{
    padding: 0 0 2em 0em;
    font-size:1.3em;

}

/* Elements  inside maincontent */
.maincontent .maintext p{
    padding-bottom:1em;
    line-height: 1.3em;
}
.maincontent .maintext ul {
    list-style-type:none;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left:0em;
    padding-left:2em;
    list-style-type:none;
}
.maincontent .maintext ul li {
    background:transparent url(../img/bullet.gif) no-repeat scroll 0pt 3px;
    padding-left:1.5em;
    margin-bottom:0.3em;
}
.maincontent .maintext ol {
    list-style-type:none;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left:0em;
    padding-left:3.6em;
}
.maincontent .maintext ol li {
    margin-bottom:0.3em;
    list-style-type: decimal;
}

.maincontent .maintext h3 {
    font-size:1.1em;
    margin-bottom:1em;
}

.maincontent h2 {
    border: none !important;
}

h2#mainpage-title {
    margin: 1em 0;
    color: rgb(171, 24, 26);
    font: 2em "Bebas Neue","League Gothic",Haettenschweiler,"Arial Narrow",sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: 3px 3px 0px rgba(170, 160, 130, 0.5);
    text-align: center;
}

/* Event box */

.event-detail {
    background: #FCFCFC;
    -moz-border-radius:5px 5px 5px 5px;
    -moz-box-shadow:0.1em 0.1em 0.6em grey;
    border-radius:5px 5px 5px 5px;
    box-shadow:0.1em 0.1em 0.6em grey;
    -webkit-border-radius:5px 5px 5px 5px;
    -webkit-box-shadow:0.1em 0.1em 0.6em grey;
    border:1px solid #E3E3E3;
    padding:0;
    margin: 2em 0;
    width: 400px;
}

.event-detail p {
    border-bottom:1px solid #E3E3E3;
    padding:5px 0px 5px 29px !important;
    line-height: 20px !important;
    margin: 0;
}

.event-detail p.event-date {
    background: url("../img/event-date.png") no-repeat scroll 6px 7px transparent !important;
}

.event-detail p.event-addr {
    background: url("../img/event-addr.png") no-repeat scroll 6px 7px transparent !important;
}

.event-detail p.event-comment {
    background: url("../img/event-comment.png") no-repeat scroll 6px 7px transparent !important;
}

.event-detail p.event-places {
    background: url("../img/event-places.png") no-repeat scroll 6px 7px transparent !important;
}

.event-name {
    clear: both;
}

label {
    display: block;
    margin-bottom: 1em;
}

label[for=id_press], label[for=id_privacyPolicy], label[for=id_volunteer], label[for=id_mailme] {
    display: inline;
}

label.required {
    font-weight: bold;
}

label.required:after {
    content: " *";
    color: red;
}

.fieldInfo {
    font-size: 0.9em;
    clear: both;
    color: #777777;
}

.fieldWrapper {
    clear: both;
    margin-bottom: 1em;
}

.fieldWrapper input {
    float: none;
}

#id_firstName,
#id_familyName,
#id_email,
#id_emailConfirm,
#id_twitter,
#id_website {
    width: 15em;
}

ul.errorlist {
    background-color: #D75B5B;
    padding: 5px !important;
    text-align: center;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    font-weight: bold;
    float: none;
    margin: 0 !important;
    width: 16em;
}

ul.errorlist li {
    background: none !important;
    padding: 0 !important;
}

.button {
    cursor: pointer;
}
.button, .button:link, .button:visited {
    display: inline-block;
    border-radius: 0.25em;
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2), 0px -1px 0px 0px rgba(0, 0, 0, 0.3) inset;
    background-color: #277AC1;
    background-repeat: repeat-x;
    background-image: linear-gradient(to bottom, #43A6E2, #277AC1);
    color: #FFF;
    text-align: center;
    font-size: 0.875rem;
    font-weight: bold;
    padding: 5px 10px;
    line-height: 1.1;
    text-decoration: none;
    min-width: 80px;
    border: 0px none;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
    font-family: "Open Sans",X-LocaleSpecific,sans-serif;
    transition: all 0.25s linear 0s;
}