{% load i18n %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{% block title %}{% trans 'Mozilla Events' %}{% endblock %} « {% trans 'Events' %} « {{ SITE_TITLE }}</title>

<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

<!--[if lt IE 7]>
		<link rel="stylesheet" href="/static/css/iebugs.css" type="text/css" />
<![endif]-->

<link rel="stylesheet" href="/static/css/style.css" type="text/css" />

{% block css_extra %}{% endblock %}

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/functions.js"></script>

<script type="text/javascript">
    var RecaptchaOptions = {
        theme : 'clean',
	lang : 'es'
    };
</script>

<link rel="stylesheet" href="//cdn.leafletjs.com/leaflet-0.5.1/leaflet.css" />
<!--[if lte IE 8]>
    <link rel="stylesheet" href="//cdn.leafletjs.com/leaflet-0.5.1/leaflet.ie.css" />
<![endif]-->

</head>

<body>
    
<div id="canvas">
		<div id="cripple">
				<div id="header">
						<div id="logo">
								<h1><a href="/{% block eventURL %}{% endblock %}"><span>{% block titleheader %}{% trans 'Mozilla<br />Events' %}{% endblock %}</span></a></h1>
						</div>
						<div id="visit-box"><a href="{% trans 'http://www.mozilla-hispano.org' %}" title="{% trans 'Visit our community site' %}">{% trans 'mozilla hispano' %}</a></div>
						<form id="langSelector" action="/i18n/setlang/" method="post">
								{% csrf_token %}
								<select name="language">
								    {% for lang in LANGUAGES %}
									<option value="{{ lang.0 }}" {% if lang.0 == request.LANGUAGE_CODE %}selected="selected"{% endif %}>{{ lang.1 }}</option>
								    {% endfor %}
								</select>
								<input type="submit" value="→" />
						</form>
				</div>

	<div class="clearfix" id="mainbody">

		<div id="content">
			<div class="maincontent">
				<div class="maintext">
				    {% block content %}{% endblock %}
				</div>
			</div>
		</div>
		
		<div id="sidebar">
		    {% block sidebar %}{% endblock %}
		</div>
	
	</div>

	</div><!-- Cuerpo -->
</div><!-- tullido -->

</div>

<script src="//cdn.leafletjs.com/leaflet-0.5.1/leaflet.js"></script>

{% block js_extra %}{% endblock %}

</body>

</html>
