{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block title %}{% trans 'Events' %}{% endblock %}

{% block contentClass %}mainpage{% endblock %}

{% block css_extra %}
<link rel="stylesheet" type="text/css" href="{% static 'css/modal.css' %}" />
{{form_filter.media.css}}
{% endblock %}

{% block js_extra %}
{{form_filter.media.js}}
<script>
    $("[data-calendar='calendar']").datepicker({
      showOn: "button",
      buttonImage: "{% static 'admin/img/icon_calendar.gif' %}", 
      buttonImageOnly: true,
      dateFormat: "dd/mm/yy"
    });
</script>
{% endblock %}

{% block content %}

<h2 id="mainpage-title">{% trans 'Where is Mozilla?' %}</h2>

<div id="mainpage-desc">
    <p>
	{% trans "Here you can see some events which Mozilla community will be <strong>organising and require sign-up</strong>, and the topics on which our Mozillians will be speaking. If you are organizing an event and would like a Mozillian to participate, please send us an email to <em>eventos at mozilla-hispano.org</em>. If you are a Mozillian organising an event that's not listed here, let us know!" %}
    </p>
    
    <p>{% trans 'You can also see <a href="https://www.mozilla-hispano.org/documentacion/Eventos">a full list of events that Mozilla is participating</a>' %}.</p>
</div>

<button onclick="actionModal(true);"> {% trans 'Filter' %}</button>
<br>
<br>

<div id="filter" class="modalDialog">
	<div>
		<a title="Close" class="close" onclick="actionModal(false);">X</a>
		<form action="/filter_events/" method="POST">{% csrf_token %}
			<table>
				<th>
					<h2>{% trans 'Filter' %}</h2>
				</th>
				<th></th>
				{% for field in form_filter %}
					{% if field.name == 'country' %}
						<tr>
							<td>
								<label> {% trans 'Country' %} </label>
							</td>
							<td>
								{{ field }}
							</td>
						</tr>
					{% endif %}
					{% if field.name == 'category' %}
						<tr>
							<td>
								<label> {% trans 'Category' %} </label>
							</td>
							<td>
								{{ field }}
							</td>
						</tr>
					{% endif %}
					{% if field.name == 'eventDate_from' %}
						<tr>
							<td>
								<label> {% trans 'Date' %} </label>
							</td>
							<td>
								{{ field }}
							</td>
						</tr>
					{% endif %}
					{% if field.name == 'eventDate_to' %}
						<tr>
							<td>
								<label> {% trans 'Date' %} </label>
							</td>
							<td>
								{{ field }}
							</td>
						</tr>
					{% endif %}
				{% endfor %}
			</table>
			<input type="submit" value="{% trans 'Filter' %}" />
		</form>
	</div>
</div>


{% if nextEvents %}
    <h2> {% trans 'Coming events' %}</h2>
    <table class="coming-events">
			<thead>
				<tr>
					<th>{% trans 'Name' %}</th>
                                        <th>{% trans 'Date' %}</th>
					<th>{% trans 'Country' %}</th>
					<th>{% trans 'City' %}</th>
				</tr>
			</thead>

			<tbody>
				{% for event in nextEvents %}
					<tr>
						<td><a href="/{{ event.id }}/{{ event.slug }}/">{{ event.name }}</a></td>
                                                <td>{{ event.eventDate|date:"SHORT_DATE_FORMAT" }}</td>
						<td>{{ event.get_country_display }}</td>
						<td>{{ event.city }}</td>
					</tr>
				{% endfor %}
			</tbody>
    </table>
{% endif %}

{% if oldEvents %}
    <h2>{% trans 'Past events' %}</h2>
    <table class="past-events">
			<thead>
				<tr>
					<th>{% trans 'Name' %}</th>
                                        <th>{% trans 'Date' %}</th>
					<th>{% trans 'Country' %}</th>
					<th>{% trans 'City' %}</th>
				</tr>
			</thead>

			<tbody>
				{% for event in oldEvents %}
					<tr>
						<td><a href="/{{ event.id }}/{{ event.slug }}/">{{ event.name }}</a></td>
                                                <td>{{ event.eventDate|date:"SHORT_DATE_FORMAT" }}</td>
						<td>{{ event.get_country_display }}</td>
						<td>{{ event.city }}</td>
					</tr>
				{% endfor %}
			</tbody>
    </table>
{% endif %}

{% endblock %}
