{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans 'Events' %}{% endblock %}

{% block js_extra %}
<script type="text/javascript">
    var map = L.map('map').setView([0, 0], 2);
    
    L.tileLayer('//{s}.tile.cloudmade.com/c421fc30a1d94ede9c8929366b35da6d/997/256/{z}/{x}/{y}.png', {
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
        maxZoom: 18
    }).addTo(map);
</script>
{% endblock %}

{% block content %}
    
<div id="map"></div>

{% if nextEvents %}
    <h2>{% trans 'Coming events' %}</h2>
    <table>
			<thead>
				<tr>
					<th>{% trans 'Name' %}</th>
                                        <th>{% trans 'Date' %}</th>
					<th>{% trans 'Country' %}</th>
					<th>{% trans 'City' %}</th>
				</tr>
			</thead>

			<tbody>
				{% for event in nextEvents %}
					<tr>
						<td><a href="/{{ event.id }}/{{ event.slug }}/">{{ event.name }}</a></td>
                                                <td>{{ event.eventDate|date:"SHORT_DATE_FORMAT" }}</td>
						<td>{{ event.get_country_display }}</td>
						<td>{{ event.city }}</td>
					</tr>
				{% endfor %}
			</tbody>
    </table>
{% endif %}

{% if oldEvents %}
    <h2>{% trans 'Past events' %}</h2>
    <table>
			<thead>
				<tr>
					<th>{% trans 'Name' %}</th>
                                        <th>{% trans 'Date' %}</th>
					<th>{% trans 'Country' %}</th>
					<th>{% trans 'City' %}</th>
				</tr>
			</thead>

			<tbody>
				{% for event in oldEvents %}
					<tr>
						<td><a href="/{{ event.id }}/{{ event.slug }}/">{{ event.name }}</a></td>
                                                <td>{{ event.eventDate|date:"SHORT_DATE_FORMAT" }}</td>
						<td>{{ event.get_country_display }}</td>
						<td>{{ event.city }}</td>
					</tr>
				{% endfor %}
			</tbody>
    </table>
{% endif %}

{% endblock %}
