{% extends "base.html" %}

{% load i18n %}

{% block title %}{{ event.name }}{% endblock %}
{% block titleheader %}{{ event.name }}{% endblock %}
{% block eventURL %}{{ event.id }}/{{ event.slug }}/{% endblock %}

{% block content %}

<div id="social">
    <a href="//twitter.com/share" class="twitter-share-button" data-text="{% trans 'I will be at' %} {{ event.name }} {% trans 'And you?' %} #{{ event.twitterTag }}" data-count="horizontal" data-via="{% trans 'mozilla_hispano'%}" data-lang="es">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>

    <iframe src="//www.facebook.com/plugins/like.php?href={{ SITE_URL }}/{{ event.id }}/{{ event.slug }}/&amp;layout=button_count&amp;show_faces=false&amp;width=150&amp;action=like&amp;font&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:150px; height:21px;" allowTransparency="true"></iframe>
</div>

{% if event.registrationOpen %}
    <p id="regButton"><span>{% trans "I am in!" %}</span><a href="/{{ event.id }}/{{ event.slug }}/registration/">{% if event.queueActive and event.placesLeft < 1 and not event.queueFull %}{% trans 'Add me to queue' %}{% else %}{% trans 'Register here' %}{% endif %}</a></p>
{% endif %}

<h2 class="event-name">{{ event.name }}</h2>

<div class="event-detail">
    <p class="event-date"><strong>{{ event.eventDate }}</strong></p>
    <p class="event-addr"><em>{% trans 'Address' %}:</em> <a href="http://maps.google.es/maps?q={{ event.address }}+{{ event.city }}">{{ event.address }}, {{ event.city }}</a> ({{ event.get_country_display }})</p>
    {% if event.registrationOpen %}{% if event.places %}<p class="event-places"><em>{% trans 'Places' %}:</em> {{ event.placesLeft }}/{{ event.places }}</p>{% endif %}{% endif %}
    {% if event.commentsUrl %}<p class="event-comment"><a href="{{ event.commentsUrl }}">{% trans 'Comments and opinions about the event' %}</a></p>{% endif %}
</div>

{{ event.description|safe}}

<h3>{% trans 'Photos' %}</h3>

{% include "events/flickr-badge.html" %}

<p class="back-link">« <a href="/">{% trans 'Back to event listing' %}</a></p>

{% endblock %}

{% block sidebar %}

<div id="event-map">   
<iframe width="235" height="230" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.es/maps?q={{ event.address }}+{{ event.city }}&amp;ie=UTF8&amp;t=m&amp;z=16&amp;iwloc=near&amp;output=embed"></iframe>
</div> 
    
{% include "events/twitter-widget.html" %}

<br>
<h3>{% trans 'Category' %}</h3>
{% for obj in categorys %}
	<ul>
		<li><a href="/events/category/{{obj.category.id}}">{{ obj.category.descrip }}</a></li>
	</ul>
{% endfor %}

{% endblock %}
