{% extends "base.html" %}

{% load i18n %}

{% block title %}{{ event.name }} - {% trans 'Registration' %}{% endblock %}
{% block titleheader %}{{ event.name }}{% endblock %}
{% block eventURL %}{{ event.id }}/{{ event.slug }}/{% endblock %}

{% block content %}

<h2><a href="/{{ event.id }}/{{ event.slug }}/">{{ event.name }}</a> - {% trans 'Registration' %}</h2>

<p>{% trans 'Thanks, your registration has been saved' %}.</p>

<p>{% trans 'We have sent an email to' %} <em>{{ registration.email }}</em> {% trans 'with the instructions to confirm it' %}.</p>

{% if event.queueActive and event.placesLeft < 1 %}
    <p><strong>{% trans 'Remember that this event is already full, your will be put in the queue and we will contact you in case a place is released' %}.</strong></p>
{% endif %}

{% include "events/social-block.html" %}

<p class="back-link">« <a href="{{ SITE_URL }}/{{ event.id }}/{{ event.slug }}/">{% trans 'Back to' %} {{ event.name }}</a></p>

{% endblock %}

{% block sidebar %}
    
{% include "events/twitter-widget.html" %}

{% endblock %}