{% extends "base.html" %}

{% load i18n %}

{% block title %}{{ event.name }} - {% trans 'Registration' %}{% endblock %}
{% block titleheader %}{{ event.name }}{% endblock %}
{% block eventURL %}{{ event.id }}/{{ event.slug }}/{% endblock %}

{% block content %}

<h2><a href="/{{ event.id }}/{{ event.slug }}/">{{ event.name }}</a> - {% trans 'Registration' %}</h2>

{% if alreadyConfirmed %}
<p><strong>{% trans 'Ey, it seems that your registration was already confirmed!' %}</strong></p>
{% else %}
<p><strong>{% trans 'Thanks, your registration has been confirmed!' %}</strong></p>
{% if event.queueActive and event.placesLeft < 1 %}
    <p><strong>{% trans 'Remember that this event is already full, your will be put in the queue and we will contact you in case a place is released' %}.</strong></p>
{% endif %}
{% endif %}

<p>{% trans 'We are looking forward to meet you at' %} {{ event.name }}.</p>

<p>{% trans 'Remember the details' %}:</p>

<p><em>{% trans 'Date' %}:</em> <strong>{{ event.eventDate }}</strong></p>
<p><em>{% trans 'Address' %}:</em> <a href="http://maps.google.es/maps?q={{ event.address }}">{{ event.address }}</a></p>

{% include "events/social-block.html" %}

<p class="back-link">« <a href="{{ SITE_URL }}/{{ event.id }}/{{ event.slug }}/">{% trans 'Back to' %} {{ event.name }}</a></p>
    
{% endblock %}

{% block sidebar %}
  
{% include "events/twitter-widget.html" %}

{% endblock %}