{% load i18n %}
{% trans 'Hi' %} {{ reg.firstName }},

{% trans 'Thanks for registering in' %} {{ event.name }}.

{% trans 'Important! You must confirm your attendance by clicking on the following address' %}:

http://eventos.mozilla-hispano.org/{{ event.id }}/{{ event.slug }}/registration/confirm/{{ reg.hash }}

{% trans 'Here you have the event details' %}:

{% trans 'Date:' %} {{ event.eventDate }}
{% trans 'Address:' %} {{ event.address }}
-- 
{% trans 'http://www.mozilla-hispano.org' %}
{% trans 'http://twitter.com/mozilla_hispano' %}